p{
	background: #1C9EFF;
	text-align: center;;
	font-size: 20px;
	border-radius: 2em;
	padding:42px;
}
  div.box{
	background: #1C9EFF;
	width: 300px;
	height:100px;
	padding:112px;
	border-radius: 3em;
	text-align: center;
	border-top: solid;
	border-left: solid;
	border-bottom: solid;
	border-right: solid;
	border-color: blue;
	font-family: "new century schoolbook";
}